
@{
    ViewBag.Title = "Contacts";
}
<a href="/Portfolio/Education">Education</a>
<a href="/Portfolio/Projects">Projects</a>
<a href="/Portfolio/Contacts">Contacts</a>
<h2>Contacts</h2>
<h3>NASRUM SHARON</h3>
<h3>Mobile Number : 01872624248</h3>
<h3>Email :nasrumshoron48@gmail.com</h3>

