
@{
    ViewBag.Title = "Education";
}
<a href="/Portfolio/Education">Education</a>
<a href="/Portfolio/Projects">Projects</a>
<a href="/Portfolio/Contacts">Contacts</a>
<h2>Education</h2>
<ul>HSC  GPA--5</ul>
<ul>SSC  GPA--5</ul>

