
@{
    ViewBag.Title = "Projects";
}
<a href="/Portfolio/Education">Education</a>
<a href="/Portfolio/Projects">Projects</a>
<a href="/Portfolio/Contacts">Contacts</a>

<h2>Projects</h2>
<table>
    <thead>
        <tr>
            <th>Course name <br> </th>
            <th>  Projects name   </th>
            <th>  Project description </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>OOP1</td>
            <td>E courier</td>
            <td>Courier Service with web</td>

        </tr>
    </tbody>

</table>

